<!-- Add nav bar -->
<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark mb-4">

    <ul class="navbar-nav mr-auto">
      <!-- Add logo -->
      <a class="navbar-brand" href="/">
        <img style="max-height:40px; background-color:transparent;" src="{{ url_for('static', filename='images/test2.png') }}">
      </a>
    </ul>

    <ul class="navbar-nav navbar-right">
      <!-- For displaying icons (https://getbootstrap.com/docs/3.3/components/) -->
      <link href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}" rel="stylesheet">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> 
        {% if login %}
          <span class="glyphicon glyphicon-log-in"></span> Login
        {% else %}
          <span class="glyphicon glyphicon-log-out"></span> Logout
        {% endif %}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enter user_id</h5>
              <!-- Add a 'x' to close model -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <!-- Add form to store user_id -->
                <!-- Action redirects to the url -->
                <form action="{{ url_for('dashboard') }}" class="form-inline" method="post">
                  <!-- Input box -->
                  {% set max = df.drop_duplicates(subset='user_id')|length %}
                  <input type="number" max="{{max}}" min="1" class="form-control" placeholder="1-{{ max }}" name="user_id" style="width: 50%">
                  <!-- Put a space between input and button -->
                  <span aria-hidden="true">&nbsp;</span>
                  <!-- Login button to redirect -->
                  <input class="btn btn-primary" value="Login" role="button" type="submit" >
                </form>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </ul>
</nav>