.scrollable {
    height: 100000px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.custom-scroll {
    /*background-color: lightblue;*/
    width: 110px;
    height: 110px;
    overflow: scroll;
}
