{% extends 'layout.html' %}

{% block body %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type=text/javascript>
        $(function() {
          $('a#update').bind('click', function() {
            $.getJSON('/update_df',
                function() {
              //do nothing
            });
            return false;
          });
        });
</script>

<script>
function play(p1) {
  // window.alert(p1)
  // var url = p1;
  document.getElementById("iframe").src = p1  // Change url of widget
}    
</script>


<script type=text/javascript>
function print_userid() {
  document.getElementById("add_user_txt").innerHTML = "User ID: " + localStorage.getItem("USERID");
}    
</script>


<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
      <a class="nav-link" id="v-pills-songs-tab" data-toggle="pill" href="#v-pills-songs" role="tab" aria-controls="v-pills-songs" aria-selected="false">Songs</a>
      <a class="nav-link" id="v-pills-pop-rec-tab" data-toggle="pill" href="#v-pills-pop-rec" role="tab" aria-controls="v-pills-pop-rec" aria-selected="false">Popularity Recommender System</a>
      <a class="nav-link" id="v-pills-item-rec-tab" data-toggle="pill" href="#v-pills-item-rec" role="tab" aria-controls="v-pills-item-rec" aria-selected="false">Item-Similarity Recommender System</a>
      <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">About</a>
    </div>
  </div>


  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      	<h1>Hello world!</h1>
      </div>
      <div class="tab-pane fade" id="v-pills-songs" role="tabpanel" aria-labelledby="v-pills-songs-tab">
      	{% include 'songs.html' %}
      </div>
      <div class="tab-pane fade" id="v-pills-pop-rec" role="tabpanel" aria-labelledby="v-pills-pop-rec-tab">
      	{% include 'recommend.html' %}
      </div>
      <div class="tab-pane fade" id="v-pills-item-rec" role="tabpanel" aria-labelledby="v-pills-item-rec-tab">
        {% include 'recommend.html' %}
      </div>
      <div class="tab-pane fade" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
      	{% include 'about.html' %}
      </div>
    </div>
  </div>
</div>




{% endblock %}
