
<h2> 
  History 
  <span style="float:right;"> 
    User ID: {{ user_id }}
  </span> 
</h2>

{% if history %}
	<div class="container-fluid" style="width:100%; height:50%; overflow:auto;">
	  <table class="table table-hover">
	    <thead class="thead-light">
	      <tr>
	        <th width="10%">#</th>
	        <th width="80%">Song</th>
	        <th width="10%">Play</th> 
	      </tr>
	    </thead>
	    {% for i in range(history|length) %}
	      <tr> 
	        <td>{{ i+1 }}</td>
	        <td>{{ history[i]['title'] }}</td>
	        <td> 
	          <button class="btn btn-outline-primary" onclick="play('{{ history[i]['url_link'] }}', true)"><span class="oi oi-audio-spectrum"></span></button>
	        </td>
	      </tr>
	    {% endfor %}
	  </table>
	</div> 
{% else %}
	<p>Please choose a song.</p>
{% endif %}

