{% extends 'layout.html' %}

{% block body %}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Cloudify</h1>
      <p class="lead">This is a tutorial on how to create your own music recommender system and display it on a Flask framework!</p>
      <p class="lead">Please login in the top right corner.</p>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Dashboard &raquo;</a></p>
    </div>
  </div>

{% endblock %}
