{# {% extends 'layout.html' %} #}

{% block body %}

<h2> 
  Top 10 Songs 
  <span style="float:right;"> 
    <p id="add_user_txt"></p>
  </span> 
</h2>

<div class="w3-container" style="width:100%; height:50%; overflow:auto;">
  <!-- <table class="w3-table-all w3-hoverable"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="30%">Rank</th>
        <th width="30%">Song</th>
        <th width="30%">Score</th>
        <th width="10%">Select</th> 
      </tr>
    </thead>
    {% for i, row in pm.iterrows() %}
      <tr> 
        <td>{{ row['Rank']|int  }}</td>
        <td>{{ row['title'] }}</td>
        <td>{{ row['score'] }}</td>
        <td> 
          <button class="w3-button w3-round w3-small w3-blue" onclick="play('{{df.loc[df['title'] == row['title'], 'url_link'].iloc[0] }}!')">Select</button>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>  

{% endblock %}
